.gray-background {
  background-color: #282828;
  font-family: sans-serif;
}

/* nav bar styles */
.nav-bar {
  justify-content: space-between;
  background-color: #e6f2fc;
  width: 90%;
  height: 4rem;
  align-items: center;
}

.left-div-nav {
  display: flex;
  justify-content: space-between;
  flex-basis: 250px;
}

.home-link {
  text-decoration: none;
  color: black;
  font-size: larger;
  font-weight: bold;
  padding-left: 1rem;
}

.store-info-link {
  text-decoration: none;
  color: #5d9af7;
  font-size: larger;
  font-weight: bold;
}

.search-button {
  border: solid #4582f7;
  width: 26%;
  height: 30px;
  margin-right: 1rem;
  border-radius: 5px;
  font-size: larger;
  background-color: #e6f2fc;
  color: #4582f7;
  cursor: pointer;
}

.input-bar {
  width: 200px;
  height: 35px;
  border-radius: 5px;
  border-color: #dbe4ea;
  border-style: solid;
}

/* nav bar styles */

::placeholder {
  font-size: 1rem;
}

.dealshark-title {
  color: white;
  margin-left: 5%;
}

.page-title {
  margin-top: 20px;
  color: white;
  font-size: 2rem;
  margin-bottom: 20px;
}

.game-deal-width {
  width: 300px;
  color: white;
}

.game-deal-image {
  width: 300px;
}

.game-info-rows {
  margin-top: 60px;
}

.blue-title {
  color: #95b7e2;
}

/* deal search */

.display-none {
  display: none;
}

.column-gap {
  column-gap: 10px;
  justify-content: center;
}

.img-width {
  width: 300px;
}

.rows-of-games {
  display: flex;
}

.deal-name-color {
  color: white;
  text-align: center;
}

.page-title-search {
  margin-top: 20px;
  color: white;
  font-size: 4rem;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  margin-left: 5rem;
  margin-bottom: 4rem;
}

.name {
  width: 13rem;
}

.email {
  width: 13rem;
}

.name-input-div {
  margin-bottom: 30px;
}

.email-input-div {
  margin-bottom: 30px;
}

.white {
  color: white;
}

.price-drops-title {
  color: #53a552;
}

.green-btn {
  background-color: #53a552;
  border: none;
  border-radius: 5px;
  color: white;
  height: 25px;
}

/* deal search */

/* store info */
.stores-page-title {
  color: white;
  font-size: 2rem;
  text-align: center;
}

.store-info-row {
  display: flex;
  flex-direction: row;
}

.stores-titles {
  font-size: 2rem;
}

/* store info */

/* phone view */
@media screen and (max-width: 391px) {/* 390 */

  .left-div-nav {
    flex-basis: 180px;
  }

  .input-bar {
    width: 80px;
    height: 35px;
  }

  ::placeholder {
    font-size: 11px;
  }

  .search-button {
    border: solid #4582f7;
    width: 36%;
    height: 30px;
    font-size: small;
  }

  .page-title {
    font-size: 1rem;
  }

  .game-info-rows {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .game-deal-width {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rows-of-games {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .page-title-search {
    margin-top: 20px;
    color: white;
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .store-info-row {
    flex-direction: column;
  }

  .stores-page-title {
    font-size: 1rem;
  }
}

/* phone view */
